PyYAML==6.0.1
fire==0.5.0
Jinja2==3.1.2
beautifulsoup4==4.12.3
huggingface_hub[cli]==0.30.1
streamlit==1.32.2

transformers==4.51.0
tiktoken==0.7.0
hf-transfer~=0.1

litellm==1.51.2

modal==0.74.21
wheel==0.45.1
